# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.venv/
*.sqlite3

# Data / model / local configs
/data/
models/
*.log
*.csv

# Virtual env
venv/
ENV/
env/
.venv/

# IDE
.vscode/
.idea/

# MacOS
.DS_Store

# Streamlit local
.streamlit/

# Jupyter
.ipynb_checkpoints/
